<?xml version="1.0" encoding="UTF-8"?>
<System>
	<StartingAgents>
	
		<Sensor Name="Senseur_1" Source="Output_Alpha"></Sensor>
		<Sensor Name="Senseur_2" Source="Output_Beta"></Sensor>
		<Controller Name="Controller_Alpha" InputTarget="Input_Alpha"></Controller>
		<Controller Name="Controller_Beta" InputTarget="Input_Beta"></Controller>

		<Criterion Name="Criterion_Beta" Reference="-500" CriticityType="LOWER">
			<CriticalVariable Name="Senseur_2"></CriticalVariable></Criterion>
		<Criterion Name="Criterion_BetaBis" Reference="-600" CriticityType="HIGHER">
			<CriticalVariable Name="Senseur_2"></CriticalVariable></Criterion>
			
	</StartingAgents>
</System>