graph {
    fill-color: white;
}
node { size-mode: fit; shape: rounded-box; fill-color: white; stroke-mode: plain; padding: 3px, 2px; }



node.Percept {
	fill-color: green;
}

node.Controller {
	fill-color: yellow;
}

node.Context {
	fill-color: cyan;
}

node.Criterion {
	fill-color: red;
}

node.ContextSelected {
	fill-color: cyan;
	stroke-color: red;
	stroke-width: 4px;
	}

edge {
    arrow-shape: arrow;
    stroke-color: grey;
    fill-color: grey;
    arrow-size: 4px, 3px;
}

edge.validContext {
		fill-color: green;
	}
	
edge.validWorstContext {
		fill-color: green;
	}

node:clicked {
    fill-color: blue;
}