graph {
    fill-color: white;
}

node { text-mode: hidden; }


node.Percept {
	fill-color: green;
}

node.Controller {
	fill-color: yellow;
}

node.Context {
	fill-color: cyan;
}

node.Criterion {
	fill-color: red;
}


edge {
    arrow-shape: arrow;
    stroke-color: grey;
    fill-color: grey;
    arrow-size: 6px, 4px;
}

edge.validContext {
	fill-color: green;
	}

node:clicked {
    fill-color: blue;
}